/Data/sav
/Data/debug
/Data/*.config
/Data/*.log
/Data/resources
*.log
*.dat
resources/画像_自家製/
console_history.json
setting_user.json
*.profile
攻略データ/スキル性能/.~lock.03_戦技.ods#
攻略データ/スキル性能/.~lock.19_核熱.ods#
/Data/ERB/口上/口上まとめ
/Data/ERB/口上/KOJO_VER.ERB
.vscode/settings.json
