[submodule "engine"]
	path = engine
	url = https://gitgud.io/umaera/engine/era-electron.git
[submodule "common"]
	path = common
	url = https://gitgud.io/umaera/data/uma-common.git
[submodule "res"]
	path = res
	url = https://gitgud.io/umaera/data/uma-resource.git
